<div class="text-layout">
    <h1>Pipes básicos</h1>
    <p>
        Pipes inlcuidos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="uppercase"
        [subheader]="nombreLower | uppercase">
            {{nombreLower | uppercase}}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="lowercase"
        [subheader]="nombreUpper | lowercase">
            {{nombreUpper | lowercase}}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="titlecase"
        [subheader]="nombreCompleto | titlecase">
            {{nombreCompleto | titlecase}}
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Pipe de Fecha</h1>
    <p>
        Pipes inlcuidos en Angular para mostrar las fechas en sus diferentes formatos.
    </p>
</div>

<div class="p-grid">
    <div class="p-col-6">
        <p-card>
            <ul>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date:'short'</li>
                <li>fecha | date:'long'</li>
                <li>fecha | date:'full'</li>
                <li>fecha | date:'shortDate'</li>
                <li>fecha | date:'mediumDate'</li>
                <li>fecha | date:'longDate'</li>
                <li>fecha | date:'fullDate'</li>
                <li>fecha | date:'shortTime'</li>
                <li>fecha | date:'mediumTime'</li>
                <li>fecha | date:'longTime'</li>
                <li>fecha | date:'fullTime'</li>
                <li>fecha | date:'MMMM dd, yyyy'</li>
            </ul>

            <hr>
            <ul>
                <li> fecha | date:'long':'GMT-6' </li>
                <li> fecha | date:'long':'GMT-4' </li>
                <li> fecha | date:'long':'GMT-4':'EN'</li>
            </ul>
        </p-card>
    </div>

    <div class="p-col-6">
        <p-card>
            <ul>
                <li> {{fecha}}</li>
                <li> {{fecha | date}}</li>
                <li> {{fecha | date:'short'}}</li>
                <li> {{fecha | date:'long'}}</li>
                <li> {{fecha | date:'full'}}</li>
                <li> {{fecha | date:'shortDate'}}</li>
                <li> {{fecha | date:'mediumDate'}}</li>
                <li> {{fecha | date:'longDate'}}</li>
                <li> {{fecha | date:'fullDate'}}</li>
                <li> {{fecha | date:'shortTime'}}</li>
                <li> {{fecha | date:'mediumTime'}}</li>
                <li> {{fecha | date:'longTime'}}</li>
                <li> {{fecha | date:'fullTime'}}</li>
                <li> {{fecha | date:'MMMM dd, yyyy'}}</li>
            </ul>
            <hr>
            <ul>
                <li> {{fecha | date:'long':'GMT-6'}}</li>
                <li> {{fecha | date:'long':'GMT-4'}}</li>
                <li> {{fecha | date:'long':'GMT-4':'EN'}}</li>
            </ul>
        </p-card>
    </div>
</div>