<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>
        Pipes inlcuidos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="p-grid">
    <div class="p-col-12 p-md-6">
        <p-fieldset legend="i18nSelect Pipe"  [toggleable]="true">
           Saludos {{nombre}}, es un placer 
           {{genero | i18nSelect:invitacionMapa}} 
           a nuestro evento.
        </p-fieldset>
    </div>
    <div class="p-col-12 p-md-6">
        <p-fieldset legend="i18nPlural Pipe"  [toggleable]="true">
            Actualmente {{clientes.length | i18nPlural:clientesMapa}}
        </p-fieldset>
    </div>
</div>
