<app-menu></app-menu>

<router-outlet></router-outlet>

<div class="text-layout">
    <h1>{{nombre | titlecase}}</h1> 
</div>

<button 
   pButton icon="pi pi-bell" 
   iconPos="right" 
   class="p-button-help" 
   (click)="mostrarNombre()" 
   label="Mostrar nombre">
</button>


<p-card [header]="nombre | titlecase"
        subheader="Este es el subheader">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda aliquid quo, at quibusdam vitae corrupti provident nulla, aliquam deserunt maxime architecto laudantium placeat aut, excepturi voluptatibus eos odit tempore nihil.</p>
</p-card>



